.qrContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : solid black 1px;
   

}
.qrCode canvas {

    width: 60%;
    
}
.qrCode{
    text-align: center;
    
}
.qrText{
    font-size: 2em;
    font-weight: bold;
    margin-top: 2%;

}