.button-primary{
  padding: 8%;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin: 10px;
  transition: all ease 0.5s ;
}


.button-secondary{
  padding: 2%;
  width: 50%;
  border-radius: 10px;
  border: none;
  margin: 10px;
}