.container {
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='5%2c15' stroke-dashoffset='23' stroke-linecap='square'/%3e%3c/svg%3e");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropzone,
.file-container,
.peer-avatar {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sweet-loading {
  padding: 10px;
}

.file-container,
.peer-avatar {
  height: -webkit-fill-available;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.avatar-wrapper {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.peer-avatar {
  padding-bottom: 4ch;
}

.peer-avatar img {
  width: 10ch;
  margin: 10px;
}

.peer-avatar p {
  text-align: center;
  padding: 5px;
  font-size: 1.5em;
  margin: 0 5ch;
  color: #707070;
}

.file-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.confirm-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3em !important;
  width: 35%;
}

.input-cont .button-primary {
  background: #16BAC5;
  color: white;
  max-width: 200px;
  padding: 4%;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin: 10px;
}

.input-cont .focusBtn {
  background: #68C6A3;
  color: white;
}

.input-cont .button-secondary {
  min-width: 90px;
  padding: 5%;
  width: 50%;
  border-radius: 5px;
  border: none;
  margin: 10px;
}

.input-cont p {
  margin: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .input-cont .button-primary {
    padding: 15%;
    min-width: calc(122px + 2vmin);
  }
}

.privacy-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.privacy-cont img {
  width: 1.5rem;
}

.privacy-cont p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 10px;
  color: #C7C7C7;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */