
.linkContainer{
    display: flex;
    margin: 0 0 0 70px;
    font-size: 1.2em;

}
.logo{
    font-size: 1.5em;
    margin : 5px;
    width: 5%;
}
.footerContainer{
        display: flex;
        padding : 0.5% 5%;
        justify-content: start;
        align-items: center;
        margin: 5px;
}
span {
    margin: 5px;
}
a{
    text-decoration: none;
    color: black;
}
p{
    text-align: center;
}

@media only screen and (max-width: 425px) {
    .footerContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .linkContainer{
        justify-content: center;
        flex-direction: row;
        text-align: center;
        margin: auto;
        font-size: 1em;
    }
    p{
        margin: 0.5ch;
    }
    .logo{
        width: 20%;
    }
}

@media only screen and (max-width: 768px){
    .logo{
        width: 20%;
    }
}