.peer-avatar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.peer-avatar {
  height: -webkit-fill-available;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.peer-avatar {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
          justify-content: flex-end;
          padding: 0;
}
.peer-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.peer-avatar img {
  width: 10ch;
  margin: 10px;
}

.peer-avatar p {
  text-align: center;
  padding: 5px;
  font-size: 1rem;
  margin: 0;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .peer-avatar{
    justify-content: center;
  }
  .flex-row-center {
   justify-content: center;
    flex-direction: column-reverse;
  }
  .peer-info{
    align-items: center;
  }
}